# lint Python modules using external checkers.
[MASTER]

disable=
    bare-except,
    duplicate-code,
    missing-module-docstring,
    too-many-arguments,
    unnecessary-pass,
    no-member,
    consider-using-f-string

[TYPECHECK]
ignored-classes= responses

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
