{
  "debug": true,
  "branches": [ 
    {"name": "master",      "range": "3.x.x"}, 
    {"name": "release_2.x", "range": "2.x.x"},
    {"name": "release_1.x", "range": "1.x.x"},
    {"name": "release_0.x", "range": "0.x.x"}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec", 
      {
        "prepareCmd": "bumpversion --allow-dirty --current-version ${lastRelease.version} --new-version ${nextRelease.version} patch"
      }
    ],
    [
      "@semantic-release/git", 
      {
        "message": "chore(release): ${nextRelease.version} release notes\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}