language: python

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
    
dist: xenial

cache: pip3

before_install:
- npm install npm@latest -g

install:
- pip3 install tox-travis

before_script:
- sudo apt-get update
- pip3 install pypandoc
- sudo apt-get install pandoc

script:
- tox

before_deploy:
- pip3 install --editable .
- pip3 install bumpversion
- nvm install 12
- npm install @semantic-release/changelog
- npm install @semantic-release/exec
- npm install @semantic-release/git
- npm install @semantic-release/github

deploy:
  - provider: script
    script: npx semantic-release
    skip_cleanup: true
    on:
      python: '3.5'
      branch: master
  - provider: pypi
    user: watson-devex
    password: $PYPI_PASSWORD
    repository: https://upload.pypi.org/legacy
    skip_cleanup: true
    on:
      python: '3.5'
      tags: true
